<a href="https://colab.research.google.com/github/Sudhakarkaturi/blinkit_dashboard-/blob/main/example_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from tabulate import tabulate
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
con_df = pd.read_csv('/content/Data.csv')

In [ ]:
con_df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [ ]:
con_df.isnull()

   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False    True      False
5    False  False   False      False
6    False   True   False      False
7    False  False   False      False
8    False  False   False      False
9    False  False   False      False

In [ ]:
# prompt: print whole data

print(tabulate(con_df, headers='keys', tablefmt='psql'))

+----+-----------+-------+----------+-------------+
|    | Country   |   Age |   Salary | Purchased   |
|----+-----------+-------+----------+-------------|
|  0 | France    |    44 |    72000 | No          |
|  1 | Spain     |    27 |    48000 | Yes         |
|  2 | Germany   |    30 |    54000 | No          |
|  3 | Spain     |    38 |    61000 | No          |
|  4 | Germany   |    40 |      nan | Yes         |
|  5 | France    |    35 |    58000 | Yes         |
|  6 | Spain     |   nan |    52000 | No          |
|  7 | France    |    48 |    79000 | Yes         |
|  8 | Germany   |    50 |    83000 | No          |
|  9 | France    |    37 |    67000 | Yes         |
+----+-----------+-------+----------+-------------+

In [ ]:
con_df.drop('Salary', axis=1)

   Country   Age Purchased
0   France  44.0        No
1    Spain  27.0       Yes
2  Germany  30.0        No
3    Spain  38.0        No
4  Germany  40.0       Yes
5   France  35.0       Yes
6    Spain   NaN        No
7   France  48.0       Yes
8  Germany  50.0        No
9   France  37.0       Yes

In [ ]:
# prompt: remove salary column

con_df = con_df.drop('Salary', axis=1)
print(tabulate(con_df, headers='keys', tablefmt='psql'))

+----+-----------+-------+-------------+
|    | Country   |   Age | Purchased   |
|----+-----------+-------+-------------|
|  0 | France    |    44 | No          |
|  1 | Spain     |    27 | Yes         |
|  2 | Germany   |    30 | No          |
|  3 | Spain     |    38 | No          |
|  4 | Germany   |    40 | Yes         |
|  5 | France    |    35 | Yes         |
|  6 | Spain     |   nan | No          |
|  7 | France    |    48 | Yes         |
|  8 | Germany   |    50 | No          |
|  9 | France    |    37 | Yes         |
+----+-----------+-------+-------------+

In [ ]:
con_df['Age'].value_counts()

Age
44.0    1
27.0    1
30.0    1
38.0    1
40.0    1
35.0    1
48.0    1
50.0    1
37.0    1
Name: count, dtype: int64

In [ ]:
con_df.describe()

             Age
count   9.000000
mean   38.777778
std     7.693793
min    27.000000
25%    35.000000
50%    38.000000
75%    44.000000
max    50.000000

In [ ]:
con_df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [ ]:
con_df.duplicated().sum()

np.int64(0)

In [ ]:
con_df.drop_duplicates(inplace=True)
con_df.isnull().sum()

Country      0
Age          1
Purchased    0
dtype: int64

dividing data into catagorical and continuos

In [ ]:
def datatypes(df):
  cat_var = []
  cont_var = []
  for col in df:
    if df[col].nunique() <60:
      cat_var.append(col)
    else:
      cont_var.append(col)
  return cat_var, cont_var

In [ ]:
con_df['Age'].nunique()

9

In [ ]:
# prompt: info

con_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Purchased  10 non-null     object
dtypes: float64(1), object(2)
memory usage: 372.0+ bytes

In [ ]:
# prompt: shape

con_df.shape

(10, 3)